body {
  font-size: 16px;
  margin: 0px;
}


:root{
  --raisin: #3A2E39;
  --green: #1E555C;
  --pale: #F4D8CD;
  --buff: #EDB183;
  --red: #F15152;
}

.navbar {
  width: 100%;
  display:inline-flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--buff);
  height: 60px;
  position: fixed;
  top: 0px;
  z-index: 1;
}

.navbar ul{
  list-style-type: none;
  display: inline-flex;
}

.navbar li{
  padding: 20px 2rem;
}

.navbar #logo{
  padding-left: 1rem;
  width: 40px;
  height: 40px;
}

.navbar a{
  text-decoration: none;
  color: var(--green);
}

.navbar a:hover{
  color: var(--raisin)
}

.banner{
  position: relative;
  top: 60px;
  background-image: url("images/artem-verbo-rAyIvNqlwCY-unsplash.jpg");
  filter:grayscale(50%);
  display:flex;
  background-repeat:no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
  height: 800px;
}

header h1{
  color: var(--red);
  font-family: "Bakbak One";
  font-size: 5rem;
}
